

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 130Vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("../../../images/home.jpg");
    background-position: center;
    background-size: cover;
    position: relative;


}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 300px;
    margin-left:-20%;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffff;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%;

}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 55px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1px;
}

nav .fa {
    display: none;
}


@media(max-width: 900px) {
    .text-box h1 {
        font-size: 15px;
        margin-top: -10%;
    }

    .text-box p{
        font-size: 12px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }

    nav img {
    width: 200px;
}


    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .course-col {
        width: 50%;
        margin-left:20%;
        flex-basis: 20%;
        background-color: #F5F5F5;
        border-radius: 35px;
        margin-bottom: 5%;
        padding: 20px 5px;
        box-sizing: border-box;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
   
    



}

/*--------course------*/
.course {
    width: 65%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


h1 {
    font-size: 36px;
    font-weight: 600;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background-color: #F5F5F5;
    border-radius: 35px;
    margin-bottom: 5%;
    padding: 20px 5px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}



img {
    max-width: 100%;
    width: 300px;
    border-radius: 25px;

}


.hero-btn1 {
    display: inline-block;
    text-decoration: none;
    left: 0;
    color: #3E86F5;
    border: 1px solid #fff;
    padding: 5px 20px;
    font-size: 13px;
    background-color: #F2F6FF;
    position: relative;
    cursor: pointer;
    border-radius: 20px;

}

.hero-btn1:hover {
    border: 1px solid #fff;
    background: #99CCFF;
    color: #fff;
    transition: 1px;
}


.hero-btn2 {
    display: inline-block;
    text-decoration: none;
    left: 0%;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 13px;
    background-color: 	#FF0066;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

}

.hero-btn2:hover {
    border: 1px solid #fff;
    background: #99CCFF;
    color: #fff;
    transition: 1px;
}

.hero-btn3 {
    display: block;
    text-decoration: none;
    left: 0%;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 13px;
    background-color: 	#FF0066;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

}

.hero-btn3:hover {
    border: 1px solid #fff;
    background: #99CCFF;
    color: #fff;
    transition: 1px;
}


h4 {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #7879F1;
    border: 1px solid #fff;
    padding: 2px 2px;
    font-size: 8px;
    background-color: #F1F1FD;
    position: relative;
    cursor: pointer;
    border-radius: 20px;

}


h6 {
    font-size: 30px;
    font-weight: 600;

}

@media(max-width: 900px) {
    .row {
        flex-direction: column;
    }

    h6 {
        font-size: 20px;
        font-weight: 600;
    }

    .column-col {
        font-size: 12px;


    }

    .promote1 img{
        width: 100%;
        height: 200px;
        margin-top: -50px;
    }
    
    .promote {
        width: 55%;
        margin: auto;
        text-align: center;
    }


}

.promote {
    width: 55%;
    margin: auto;
    text-align: middle;
}

.promote img{
    width: 100%;
    height: 700px;
    margin-top: -50px;
}

.promote1 {
    flex-basis: 100%;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.column {

    flex-direction: column;
}

.column-col {
    flex-basis: 200%;

    margin-bottom: 5%;
    margin-left: 5%;
    padding: 20px 5px;
    box-sizing: border-box;

}

/*----------------review--------------*/

.review {
    width: 40%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 12px;
}

.review-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #F8F8FF;
    padding: 25px;
    cursor: pointer;
    display:inline-block;
}

.review-col img {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    margin-left: 0%;


}
.text1{
    color: #CC3399;
}
.column1{
    flex-direction: column;
}


@media(max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .review-col {
        flex-basis: 30%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: center;
        background-color: #F8F8FF;
        padding: 25px;
        cursor: pointer;
        display: flex;
    }

    .review-col img {
        height: 20%;
        width: 15%;
        border-radius: 50%;
        margin-left: 0%;
    
    
    
    }

    .review {
        width: 30%;
        margin: auto;
        padding-top: 100px;
        text-align: center;
        font-size: 12px;
    }
    
}







